@model ShopCartViewModel
<div class="container"><br/><br/><br/>
    @foreach (var el in Model.shopCart.listShopItems)
    {
            <div class="alert alert-warning mt-2">
            <b>Игра:</b>@el.ticket.Name<br />
            <b>Цена:</b>@el.ticket.Price.ToString("c")
            </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller = "Order" asp-action="Checkout">Оплатить</a>
</div>
